* {
  margin: 0px;
  padding: 0px;
  }
  
  header {
    text-align: center;
    top: 0px;
  }
  
  h1 {
   
  }
  
  h2 {
  
  }
  
  p{
  
  } */
  
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  #landing {
  text-align: center;
  }
  
  .landing {
  
  }
  
  .landing-buttons {
  
  } */
  
  .module {
    /* height: 100vh; */
    display: flex;
    
  }
  
  #itinerary {
   background-color: aquamarine;
   text-align: center;
  }
  
  /* .itinerary-flex {
  
  }
  
  .itinerary-list {
  
  }
  
  .result-list{
  
  } */
  
  #restaurants {
  background-color: blueviolet;
  text-align: center;
  
  }
  
  #parks {
  background-color: coral;
  text-align: center;
  
  }
  
  #events {
  background-color: teal;
  text-align: center;
  
  }
  
  #concerts {
  background-color: green;
  text-align: center;
  
  }