* {
  margin: 0px;
  padding: 0px;
}

body {
  /* background-image: url(../images/nash_skyline.jpg); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: rgb(6,66,172)
}

header {
  position: fixed;
  text-align: center;
  top: 0px;
  z-index: 2;
  width:100vw;
  background-color: rgb(107, 35, 35, .8);
  color: rgb(252, 232, 232);
}

h1 {
  margin: 10px;
}

h2 {
  margin: 10px;
}
p {
  margin: 5px;
}
button {
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(107, 35, 35);
  color: white;
  margin: 5px;
}

#container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0 auto;
  width: 40vw;
  /* background-color: rgb(224, 98, 98, .85); */
  color: rgb(255, 250, 242);
  padding: 40px;
  padding-top: 10px;
  font-weight: bold;
}

#landing {
  padding: 10px;
  text-align: center;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
.module {
  background-image: url(../images/nash_skyline.jpg);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;

}

.module-container {
  background-color: rgb(224, 98, 98, .85);
  width: 60vw;
  height: 40vw;
  border-radius: 15px;
}

.landing {

}

.landing-buttons {}

.module {
  /* height: 100vh; */
  /* opacity: .95; */


}

#itinerary {
  padding: 10px;
  background-color: black;
  /* opacity: .75; */
  text-align: center;
}

/* .itinerary-flex {
  
  }
  
  .itinerary-list {
  
  }
  
  .result-list{
  
  } */

#restaurants {
  padding: 10px;
  background-color: black;
  /* opacity: .75; */
  text-align: center;

}

#parks {
  padding: 10px;
  background-color: black;
  /* opacity: .75; */
  text-align: center;

}

#events {
  padding: 10px;
  background-color: black;
  /* opacity: .75; */
  text-align: center;

}

#concerts {
  padding: 10px;
  background-color: black;
  /* opacity: .75; */
  text-align: center;

}