* {
margin: 0px;
padding: 0px;
}

header {
  position: fixed;
  top: 0px;
}

h1 {
 text-align: center;
}

h2 {

}

p{

}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#landing {

}

.landing {

}

.landing-buttons {

}

.module {
  height: 100vh;
  display: flex;
  
}

#itinerary {
 background-color: aquamarine;
}

.itinerary-flex {

}

.itinerary-list {

}

.result-list{

}

#restuarants {
background-color: blueviolet;
}

#parks {
background-color: coral;
}

#events {
background-color: teal;
}

#concerts {
background-color: green;
}